* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  background-color: #af9164;
  background-size: cover;
  background-position: center;
}

/* loader aca usamos una imagen creada con css y despues un poco de javascript para luego cambiar la clase a hidden y por ultimo removerla */

@keyframes wave {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-15px);
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffefdb;
  transition: opacity 0.75s, visibility 0.75s;
}

.cup {
  position: relative;
  width: 220px;
  height: 180px;
  border: 8px solid #ffefdb;
  box-shadow: 0 0 0 12px #352a22;
  border-radius: 10px 10px 60px 75px;
  background: url(./img/coffee.png);
  background-repeat: repeat-x;
  background-position: 0 130px;
  animation: filling 4s infinite;
}

@keyframes filling {
  0%,
  100% {
    background-position: 0 130px;
  }
  50% {
    background-position: 600px -70px;
  }
}

.cup .cup-handle {
  position: absolute;
  top: 10px;
  right: -75px;
  width: 65px;
  height: 65px;
  border: 8px solid #352a22;
  border-radius: 20px 10px 50px 20px;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

/*-------------------------------------------------- */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover {
  color: #6f1a07;
}

hr {
  border: 1px solid #6f1a07;
}
/* header */

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: none;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}
.navbar .toggle_btn {
  color: #6f1a07;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.action_btn {
  background-color: #6f1a07;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}
.fa,
.footer-menu a:hover {
  scale: 1.05;
  color: #6f1a07;
}

.action_btn:active {
  scale: 0.95;
}
/* Sandwich menu */

.dropdown_menu {
  display: none;
  position: absolute;
  right: 1rem;
  top: 60px;
  width: 300px;
  height: 0px;
  background-color: #f7f3e3;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Responsive */

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn,
  hr {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
  .footer-menu {
    text-align: left;
  }
  .footer-menu li {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    /* width: unset; */
  }
}

/* footer */

.footer {
  font-size: 18px;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.footer-content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-menu li {
  display: inline-block;
  margin-right: 20px;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
}

.fab:hover {
  scale: 1.05;
  color: #f7f3e3;
}
